.post-button {
  margin-top: 40px;
}

.post-button a {
  color: #428bca;
  border-bottom: 1px solid transparent !important;
  &:hover {
    color: #428bca;
    border-bottom-color: #428bca !important;
  }
}